PORT=5000
NODE_ENV=production
MONGODB_URI=
CORS_ORIGINS=https://URL-DEL-WEB.vercel.app,https://URL-DEL-CMS.vercel.app
JWT_SECRET=
JWT_EXPIRES_IN=7d
ADMIN_EMAILS=
APP_URL=https://URL-DEL-WEB.vercel.app
CMS_URL=https://URL-DEL-CMS.vercel.app
API_URL=https://URL-DEL-API.onrender.com
